body{

margin:0;

font-family:'Playfair Display',serif;

scroll-behavior:smooth;

color:white;

}


/* Slides */

.slide{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

background:url("bg.jpg");

background-size:cover;

background-position:center;

position:relative;

}


/* Overlay */

.slide::before{

content:"";

position:absolute;

width:100%;

height:100%;

background:rgba(0,0,0,0.45);

}


/* Content */

.content{

position:relative;

z-index:2;

max-width:800px;

padding:20px;

}


.title{

font-family:'Great Vibes',cursive;

font-size:80px;

}


.subtitle{

font-size:25px;

margin-top:10px;

}


h2{

font-size:40px;

margin-bottom:20px;

}


.verse{

font-style:italic;

font-size:28px;

line-height:1.6;

}


/* Button */

button{

padding:12px 30px;

border:none;

border-radius:30px;

font-size:18px;

background:maroon;

color:white;

cursor:pointer;

margin-top:20px;

}


/* Map */

iframe{

width:80%;

height:350px;

border-radius:10px;

border:none;

}
